# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
logs/
*.log

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Temporary files
*.tmp
*.temp

# Node
node_modules/
build/
package/

# Svelte
.svelte-kit/

# Environment variables
.env
.env.*
!.env.example

# Vite timestamped config files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TypeScript build info
*.tsbuildinfo

# IDE and Editor Settings

# VS Code
.vscode/settings.json
*.code-workspace

# JetBrains IDEs (e.g., WebStorm, IntelliJ)
.idea/

# Eclipse
.project
.classpath

# Vim
*.swp
*.swo
